.notes {
  background-color: $greyLightColor;

  &__list {
    height: 100%;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 20px;
    }

    &::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 10px;
    }
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px;
    padding-bottom: 0;
    transition: background-color 300ms;
    
    &:hover {
      background-color: $greyHoverColor;
    }

    &--active {
      background-color: $greyHoverColor;
    }
  }

  &__icon {
    width: 40px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 20px;

    &--active {
      background-image: url(../../img/lock.svg);
    }
  }

  &__card {
    width: 300px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-bottom: 1px solid black;
    cursor: pointer;
  }

  &__title {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 10px;
  }

  &__subTitle {
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 10px;
  }

  &__time {
    font-size: 19px;
    font-weight: 600;
  }
}
